*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Oxygen', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

body{
    background: lightgray;
}

header{
    width: 1200px;
    margin: auto;
    margin-top: 10px;
    padding-top: 110px;
}

.cabecera_superior{
    height: 550px;
    background-position: center;
    background-size: cover;
}

#fondo_index{
    background-image: url("../img/design1_image2.jpg");
}

#fondo_about{
    background-image: url("../img/design1_image1.jpg");
}

#fondo_contact{
    background-image: url("../img/hockey_3.jpg");
}

.cabecera_superior>h1{
    background: rgb(199, 27, 33);
    padding: 10px 0px 40px 180px;
    position: relative;
    top: -110px;
    font-size: 50px;
    -webkit-text-stroke: #fff.9px;
}

.cabecera_inferior{
    background: black;
    margin: 3px 0 0 0;
}

.cabecera_inferior>h2{
    color: rgb(170, 43, 47);
    -webkit-text-stroke: rgb(255, 255, 255).3px;
    padding: 8px 0;
    font-size: 30px;
    text-align: center;
}

.logo{
    position: absolute;
    top: 0px;
    width: 190px;
}

header>nav{
    display: inline-block;
    position: absolute;
    top: 90px;
    left: 380px;
}

header>nav>a{
    padding: 7px 120px;
    background: rgb(199, 27, 33);
    text-decoration: none;
    font-weight: bold;
    color: white;
}

#activo{
    background: rgb(255, 255, 255);
    color: black;
}

main{
    width: 1200px;
    margin: auto;
    margin-top: 3px;
    padding: 10px 0;
    background: rgb(199, 27, 33);

}

main>section{
    width: 700px;
    margin: 10px auto;
    padding: 30px 100px 30px 100px;
    background: white;
}

main>section>h3{
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgb(170, 43, 47);
    text-align: center;
    align-items: center;
}

main>section>p{
    text-indent: 20px;
    padding-top: 10px;
}

#contact{
    display: none;
}

#parrafo_contacto{
    text-indent: 0px;
}

footer{
    width: 1200px;
    margin: 3px auto;
    background: black;
}

footer>p{
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 12px;
}
