*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Oxygen', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

body{
    background: lightgray;
}

header{
    width: 85%;
    margin: auto;
    margin-top: 10px;
    padding-top: 110px;
}

.cabecera_superior{
    height: 550px;
    background-position: center;
    background-size: cover;
}

#fondo_index{
    background-image: url("../img/design1_image2.jpg");
}

#fondo_about{
    background-image: url("../img/design1_image1.jpg");
}

#fondo_information{
    background-image: url("../img/hockey_3.jpg");
}

#fondo_rules{
    background-image: url("../img/hockey_1.jpg");
}

#fondo_contact{
    background-image: url("../img/hockey_2.jpg");
    background-position: top;
}

.cabecera_superior>h1{
    background: rgb(199, 27, 33);
    padding: 10px 0px 40px 180px;
    position: relative;
    top: -110px;
    font-size: 50px;
    -webkit-text-stroke: #fff.9px;
}

.cabecera_inferior{
    background: black;
    margin: 3px 0 0 0;
}

.cabecera_inferior>h2{
    color: rgb(170, 43, 47);
    -webkit-text-stroke: rgb(255, 255, 255).3px;
    padding: 8px 0;
    font-size: 30px;
    text-align: center;
}

.logo{
    position: absolute;
    top: 0px;
    width: 190px;
}

header>nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    top: 80px;
    left: 300px;
    align-items: center;
    width: 60%;


}

header>nav>a{
    padding: 7px 30px;
    background: rgb(199, 27, 33);
    text-decoration: none;
    font-weight: bold;
    color: white;
    text-align: center;
}

#activo{
    background: rgb(255, 255, 255);
    color: black;
}

main{
    width: 85%;
    margin: auto;
    margin-top: 3px;
    padding: 10px 0;
    background: rgb(199, 27, 33);

}

main>section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin: 10px auto;
    padding: 30px 100px 30px 100px;
    background: white;
}

main>section>h3{
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgb(170, 43, 47);
    text-align: center;
    align-items: center;
}

main>section>p{
    text-indent: 20px;
    padding-top: 10px;
}

main>section>table{
    padding: 30px 0;
    border-spacing: 0px;
}

main>section>table>thead{
    background: black;
    color: white;
}

main>section>table>thead>tr>th{
    padding: 10px 15px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
}

main>section>table>tbody{
    background: rgb(199, 27, 33);
    color: white;
}

main>section>table>tbody>tr>td{
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 1px;
    padding: 5px 2px;
    text-align: center;
}

main>section>.anexo_table>p{
    padding: 10px 50px 10px 0px;
}

main>section>.anexo_table>p>span{
    font-weight: bold;
}

main>section>ol{
    padding: 10px 0;
}

main>section>ol>li{
    padding: 10px;
}

main>section>ol>li>span{
    font-weight: bold;
}

main>section>ol>li>ol{
    padding-left: 20px;
}

main>section>ol>li>ol>li{
    padding: 0;
}

main>section>ul{
    padding-left: 30px;
    list-style-type: circle;
    list-style-position:inside;
}

#contact{
    display: none;
}

#parrafo_contacto{
    text-indent: 0px;
}

footer{
    width: 85%;
    /*width: 1200px;*/
    margin: 3px auto;
    background: black;
}

footer>p{
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 12px;
}


